    .products-container {
        color: #754b23;
        text-align: center;

        .products {
            text-align: center;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-gap: 10px;
            grid-auto-rows: minmax(100px, auto);

            .product-item {
                background-color: rgb(227, 220, 211);
                
            }
            .product-item:hover {
                background-color: gold;
                cursor: pointer;
                
            }

        }
        
    }