.contact-form-container {
    color: #754b23;
    font-family: sans-serif;

a {
    text-decoration: none;
    color: #06b4af;
}

.name {
    background-color: #e86b35;
    width: 400px;
    height: 25px;
}

.email {
    background-color: #f6b53e;
    width: 400px;
    height: 25px;
}

.phone {
    background-color: #06b4af;
    width: 400px;
    height: 25px;
}

.subject {
    background-color: #e86b35;
    width: 400px;
    height: 25px;
}

.message {
    background-color: #f6b53e;
    width: 400px;
    height: 100px;
}

.send {
    background-color: #06b4af;
    color: white;
}

.contact-form-container {
    
    margin-bottom: 20px;
}



}

.contact-main {
    width: 50%;
    display: table-cell;
    padding: 30px;
}

.contact-form {
    width: 50%;
    display: table-cell;
    padding: 30px;
}

.schedule-table {
    width: 50%;
    display: table-cell;
    padding: 30px;
    color: #754b23;
    font-family: sans-serif;

    .schedule-row {
        background-color: #f6ede6;
    }
}
