.contact-form-container {
    color: #754b23;
}

.name {
    background-color: #e86b35;
}

.email {
    background-color: #f6b53e;
}

.phone {
    background-color: #06b4af;
}

.subject {
    background-color: #e86b35;
}

.message {
    background-color: #f6b53e;
}

.send {
    background-color: #06b4af;
    color: white;
}

.contact-form-container {
    
    margin-bottom: 20px;
}

.schedule-row {
    background-color: #f6ede6;
}