    .footer {
        height: 80px;
        padding-top: 20px;
        background-color: #06b4af;
        color: white;
    

    div {
        height: 100%;
        width: 33%;
        float: left;
        text-align: center;
    }

    .dots {
       
    }
}