.main-nav {
    position: absolute;
    right: 150px;
    display: inline;
    text-decoration: none;

    li {
        font-family: sans-serif;
        display: inline;
        padding: 10px;
        
    }
}